.footer-section {
  background-color: var(--secondary-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* Logo and link section */
.footer-content {
}

/* Logo */
.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-bgc);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Adress */
.address {
  color: var(--primary-bgc);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

/* Contacts link */
.footer-contacts {
  .item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts {
  .link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;

    color: var(--footer-link-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--primary-bgc);
}

/* Networks section */
.footer-social-networks {
}

.footer-title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-bgc);
}

.footer-section {
  .social-networks-link {
    color: var(--primary-bgc);
    background-color: var(--footer-icon-bgc);
  }
}

.footer-section .social-networks-link:focus,
.footer-section .social-networks-link:hover {
  background-color: var(--accent-color);
}

.footer-section {
  .social-networks-icon {
    fill: currentColor;
  }
}

/* Footer form */

.footer-subscription {
}

.footer-form {
  display: flex;
  align-items: center;
}

.subscription-form {
  margin-right: 12px;
}

.subscription-area {
  width: 358px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: var(--secondary-bgc);
  color: var(--footer-link-color);
}

.subscription-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;

  border: 0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-bgc);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-button:hover,
.subscription-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
